<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/application.js"></script>
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <h4><a href="/new_player">Start Over</a></h4>
            </ul>
			<ul class="nav pull-right">
			  <li><h4><a href="#" onclick="window.open('/rules', 'newwindow', 'width=300, height=250'); return false;">Blackjack Rules</a>
</a><h4></li>
			</ul>
        </div>
      </div>
    </div>

  <div class="container">	  
    <%if @error %>
      <h3><div class="alert alert-error"><%=@error%></div></h3>
    <% end %>
	<!-- <%if @winning1 %>
		<h3><div class="alert alert-success"><%=@winning1%></div></h3>
	<% end %>
	<% if @tie1 %>
		<h3><div class = "alert alert-success"><%@tie1%></div></h3>
	<% end %> -->
		<%= yield %>
  </div>
  </body>
</html>
