form#hit {
	float: left;
	margin-right: 10px;
}

form#stay {
	float: left;
}


form#play_again {
	float: left;
	margin-right: 10px;
}

form#play_stop {
	float: left;
}


img.card_image {
	margin: 0px 5px 5px 0px;
}

body {
  background-color: #FAFAFA;
}

.well {
  border-radius: 10px;
  background-color: #E5E5E5;
}

.navbar-inner {
background-color: #E5E5E5;
color: #48362A;
background-image: none;
box-shadow: none;
border-top: none;
}

.nav {
color: #48362A;
}